:root {
    --black: #000000;
    --gray: #C9C9C9;
    --red: #B01527;
    --white: #FFFFFF;
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-weight: 400;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    font-weight: 700;
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "RobotoSlab";
    font-weight: 700;
    src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}

/* GENERAL CONFIGURATION */
html {
    font-size: 16px;
}

body {
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: RobotoSlab, serif;
}

p {
    max-width: 70ch;
}

a {
    color: var(--black);
    font-weight: 700;
    text-decoration-style: solid;
}

a:hover {
    color: var(--red);
    text-decoration-style: dashed;
}

/* SCREEN READERS */
.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/* MISCELLANEOUS */
q {
    font-style: italic;
}

blockquote {
    margin: 0;
    padding-left: 1.5rem;
}

blockquote > p {
    font-style: italic;
}

figcaption > cite {
    padding-left: 1.5rem;
    font-style: normal;
}

/* NAVBAR */
header{
    background-color: var(--gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    position: relative;
}

.bg-enterprise {
    background-image: url("../images/enterprise_header_image.webp");
}

.bg-glorious {
    background-image: url("../images/glorious_header.webp");
}

.bg-skk {
    background-image: url("../images/SKK_header.webp");
}

.bg-shinano {
    background-image: url("../images/shinano_header.webp");
}

.nav {
    background-color: var(--white);
    border-bottom: 3px solid var(--black);
    padding: 1rem;
}

.nav-toggle {
    cursor: pointer;
    margin: 0rem 1rem;
    position: absolute;
    right: 0;
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;
}

.nav-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: none;
    list-style: none;
}

.nav-menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav-menu li a {
    color: inherit;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-menu li a.selected {
    border-bottom: 2px solid var(--black);
}

.nav-menu li a:hover {
    border-bottom: 2px solid var(--red);
    color: var(--red);
}

nav svg {
    width: 1.5rem;
}

#nav-checkbox:checked ~ ul.nav-menu li {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
}

/* CONTENT */
.container {
    width: 100%;
}

.page-title {
    background-color: var(--red);
    color: var(--white);
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
}

section {
    display: block;
    padding: 0 2rem;
}

section > .image-content > img {
    object-fit: contain;
    width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1rem;
}

/* FOOTER */
footer {
    background-color: var(--red);
    color: var(--white);
    margin: 2rem auto;
}

footer p {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media screen and (min-width: 650px) {
    section {
        display: block;
        padding: 0 6rem;
    }
    section > .image-content {
        width: 65%;
        margin: 0 auto;
    }
    section > .image-content > img {
        object-fit: contain;
        height: auto;
    }    
}

@media screen and (min-width: 1080px) {
    /* NAVBAR */
    header {
        height: 300px;
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
    }
   
    /* CONTENT */
    .container {
        margin: 0 auto;
        width: 960px;
    }
    
    section {
        align-items: center;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    
    section > .text-content {
        grid-column: 1;
        grid-row: 1;
    }

    section > .image-content {
        width: 100%;
        grid-column: 2;
        grid-row: 1;
    }
    
    section:nth-child(odd) > .text-content {
        grid-column: 2;
        grid-row: 1;
    }
    
    section:nth-child(odd) > .image-content {
        grid-column: 1;
        grid-row: 1;
    }

    /* FOOTER */
    footer {
        width: 960px;
    }
}