@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}
/*
background-color: #5966D9;
*/

html {
    font-size: 16px;
}

body {
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5966D9;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 60px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
}

.navbar-item {
    display:none;
    position: absolute;
    background-color: #5966D9;
    right: 0;
    left: 0;
    width: 100%;
}
.navbar-title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 0.75rem;
}
input[type=checkbox] {
    display: none;
}
.navbar-item a:link{
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-item a:hover{
    color: #d99559;
    text-decoration: underline;
}
.navbar-item a:active{
    color: #d99559;
    text-decoration: underline;
}

input[type=checkbox]:checked ~ .navbar-item {
    display: block;
}
.nav-button{
    font-size: 2.5rem;
    margin-right: 0.75rem;
}

@media (min-width: 700px){
    .navbar{
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: #5966D9;
    }
    .navbar-list a{
        color: #FFFFFF;
    }
    .navbar-item{
        display: flex;
    }

    .nav-button{
        display:none;
    }
    .navbar-item:hover {
        display: inline-block;
        background-color: #5966D9;
    }
}

.circularImage {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.firstFlex{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100vw;
}

.firstFlex > *{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
